<% content_for :cover do %>
  <div class="cover center jumbotron">
    <div class="text-center">
      <h1>もっと温泉！</h1>
      <h2>温泉宿に泊まろう</h2>
      <p>温泉のある宿を検索できるサイトです。</p>
    </div>      
  <%= render "search" %>
  </div>
<% end %>

<%= @area_lists %>



<%= render "hotsprings/hotsprings", hotsprings: @hotsprings, aboutBath_hashes: @aboutBath_hashes %>